extends ../layout

block content
  h1= title
  p Welcome to #{title}
    h1 posts
    - for (var i=0; i < posts.length; i++)
      ul
        li
          p
            a(href="/posts/#{posts[i].id}")= posts[i].title
          p
            a(href="/posts/#{posts[i].id}/edit") [edit]
          form(method="post", action="/posts/#{posts[i].id}")
            input(type="hidden", name="_method", value="delete")
            input(type="hidden", name="id", value="#{posts[i].id}")
            input(type="hidden", name="_csrf", value="#{csrftoken}")
            input(type="submit", value="del")
      hr

  p
    a(href="/posts/new") Add new